@if (!weatherService.isHideWeather()){

  <p>Daytime: {{weatherService.getDt()}}</p>
  <p>Temp: {{weatherService.getTemp()}}</p>
  <p>Feels like: {{weatherService.getFeelsLike()}}</p>
  <p>Humidity: {{weatherService.getHumidity()}}</p>
  <p>Sunrise: {{weatherService.getSunrise()}}</p>
  <p>Sunset: {{weatherService.getSunset()}}</p>
  <p>Visibility: {{weatherService.getVisibility()}}</p>
  <p>Windspeed: {{weatherService.getWindSpeed()}}</p>
  <p>Weather description:{{weatherService.getWeatherDescription()}}</p>


  @for (elem of getForecastByNumber(this.forecast_num); track elem){
    <p>{{elem[0]}} - {{elem[1]}} - {{elem[2]}}°C</p>

  }

  <p>{{this.weatherService.getFirstDay()}}</p>

<p>city-weather works!</p>
}
