<input #newInput id="cityInput" placeholder="Search for a city">

<button id="searchCityButton" (click)="search(newInput.value)"></button>

@if (showResults){
<ul id="cityResultsList">
  @for (dataSet of data; track dataSet){
    <li id="cityResult">
    <a [routerLink]="['/cityWeather',dataSet.name]" routerLinkActive="active" (click)="setLat($index); setLon($index); hideResults(); ">
      <p id="city"> {{dataSet.name}}  </p>
      <p id="desc">{{dataSet.state}}, {{dataSet.country}}</p>
    </a>
    </li>
  }
</ul>
}

<router-outlet></router-outlet>

