<input [(ngModel)]="searchValue" #newInput id="cityInput" placeholder="Search for a city">

<button id="searchCityButton" (click)="search(newInput.value); weatherService.setHideWeather(true)" ></button>

@if (showResults){
<ul id="cityResultsList">
  @for (dataSet of data; track dataSet){
    <li id="cityResult">
    <a [routerLink]="['/cityWeather',dataSet.name]" routerLinkActive="active" (click)="setLat($index); setLon($index); emptySearchValue() ;hideResults(); weatherService.setHideWeather(false); weatherService.resetInitialLoad(); weatherService.getWeatherByCoordinates(getLat(),getLon());weatherService.getForecastByCoordinates(getLat(), getLon());">
      <p id="city"> {{dataSet.name}}  </p>
      <p id="desc">{{dataSet.state}}, {{dataSet.country}}</p>
    </a>
    </li>
  }
</ul>
}

<router-outlet></router-outlet>

